<%= form_with(model: address, local: true) do |form| %>
  <% if address.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(address.errors.count, "error") %> prohibited this address from being saved:</h2>

      <ul>
      <% address.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :address_line1 %>
    <%= form.text_field :address_line1, id: :address_address_line1 %>
  </div>

  <div class="field">
    <%= form.label :address_line2 %>
    <%= form.text_field :address_line2, id: :address_address_line2 %>
  </div>

  <div class="field">
    <%= form.label :address_line3 %>
    <%= form.text_field :address_line3, id: :address_address_line3 %>
  </div>

  <div class="field">
    <%= form.label :city %>
    <%= form.text_field :city, id: :address_city %>
  </div>

  <div class="field">
    <%= form.label :state %>
    <%= form.text_field :state, id: :address_state %>
  </div>

  <div class="field">
    <%= form.label :country %>
    <%= form.text_field :country, id: :address_country %>
  </div>

  <div class="field">
    <%= form.label :postal_code %>
    <%= form.text_field :postal_code, id: :address_postal_code %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
